* {
    margin: 0;
    padding: 0;
    height: min-content;
    box-sizing:border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #050505;
    display: flex;
    bottom: 100px;
    border-radius: 100%;
    justify-content: center;
    align-items: center;
    height: 150vh;
    margin: 40;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 10px;
}

.profile-card {
    background-color: #111111;
    width: 400px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(12, 12, 12, 0.1);
    padding: 25px;
    border: 1px solid #0a0a0a;
    text-align: center;
}

.profile-image img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 20px;
    object-fit: cover;
}

.profile-info h2 {
    font-size: 24px;
    color: #e4d7d7;
    margin-bottom: 0px;
}

.profile-info p {
    font-size: 16px;
    color: #84f18d;
    margin-bottom: 0px;
}

.profile-info h4 {
    font-size: 16px;
    color:  #a7aca7;
    margin-top: 15px;
}

.social-form {
    margin-top: 20px;
}

.social-btn {
    background-color: #272525;
    color: #f0e6e6;
    border: 2px solid #221c1c2a;
    border-radius: 8px;
    padding: 8px;
    width: 100%;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    margin-bottom: 10px;
    transition: all 0.5s;
}

.social-btn:hover {
    background-color: #ca196c;
    color: #581e1e;
}

.github {
    border-color: #25232346;
}

.facebook {
    border-color: #25232346;
}

.linkedin {
    border-color: #25232346;
}

.twitter {
    border-color: #25232346;
}

.instagram {
    border-color: #25232346;
}
